@font-face {
  font-family: 'bitwise';
  src: url('bitwise.eot');
  src: url('bitwise.woff2') format('woff2'),
       url('bitwise.woff') format('woff'),
       url('bitwise.ttf') format('truetype'),
       url('bitwise.svg#bitwise') format('svg'),
       url('bitwise.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

